    <div id="static-footer">
      <div id="static-inner-footer">
        <div id="version"></div>
        <p id="githubPromote" class="center"></p>
        <a class="github-badge" href="https://github.com/ULTRAPOP-de/crossfoam">
          <span>
            <span><img src="../assets/images/GitHub-Mark-64px.png" alt="GitHub" /></span>
            <span>GitHub: ULTRAPOP-de/Crossfoam</span>
          </span>
        </a>
        <p><a href="/html/legal.html">Datenschutz</a> | <a href="mailto:info@ultrapop.de">Kontakt</a></pa>
      </div>
    </div>

    <!-- Browser Polyfill -->  
    <script src="../assets/js/browser-polyfill.js"></script>
    <!-- Promise Polyfill -->
    <script src="../assets/js/q.js"></script>
    <%if (!!locals.extraJs) { %>
    <% for (var i in extraJs){ %>
      <script src="<%- extraJs[i] %>"></script>
    <% } %>
    <% } %>
    <script src="../assets/js/<%- js %>.js"></script>
  </body>
</html>