<%- include("partials/static-header.ejs", {title:"Help", css:"help"}) %>
<%- include("partials/nav.ejs", {current: "help"}) %>
    <div id="page" class="static">
      <h1>Help</h1>

      <p>Hello world</p>

    </div>
<%- include("partials/static-footer.ejs", {js:"help"}) %>