<%- include("partials/static-header.ejs", {title:"How-To", css:"howto"}) %>
<%- include("partials/nav.ejs", {current: ""}) %>
    <div id="page" class="static install">
      <h1 id="howto--title">How to use Crossfoam</h1>

      <p id="howto--intro">This is a quick manual for how to use Crossfoam. In its current state, Crossfoam requires a browser based on either Firefox or Chromium and a user account from Twitter.</p>

      <div class="table responsive">
        <div class="table-row">
          <div class="table-cell"><img src="../assets/images/story/intro-1@2x.png" alt="" /></div>
          <div class="table-cell"><p id="howto--copy1"><span>(1)</span> Choose an account which might be interesting to you. (This might be your own account.)</p></div>
        </div>
      </div>
      
      <div class="table responsive">
        <div class="table-row">
          <div class="table-cell"><img src="../assets/images/story/intro-2@2x.png" alt="" /></div>
          <div class="table-cell"><p id="howto--copy2"><span>(2)</span> Right click on the account and choose "Analyse user's network".</p></div>
        </div>
      </div>
      <div class="table responsive">
        <div class="table-row">
          <div class="table-cell"><img src="../assets/images/story/intro-3@2x.png" alt="" /></div>
          <div class="table-cell"><p id="howto--copy3"><span>(3)</span> Click on the Crossfoam icon in the upper right of your browser window.</p></div>
        </div>
      </div>
      <div class="table responsive">
        <div class="table-row">
          <div class="table-cell"><img src="../assets/images/story/intro-4@2x.png" alt="" /></div>
          <div class="table-cell"><p id="howto--copy4"><span>(4)</span> Crossfoam gives you information on its progress on collecting the data. Collecting and analysing large networks can take up to several hours. Choose "explore data" for further insights.</p></div>
        </div>
      </div>

      <p id="howto--copy5">Please keep in mind, Crossfoam can not analyse live data. Once requested, Crossfoam downloads a snapshot of the state of the network and analyses it. Snapshots may become outdated over time.</p>

      <p><img style="max-width:500px;" id="howto--transl-img1" src="../assets/images/story/intro-5-de@2x.png" alt="" /></p>

      <p id="howto--copy6"><span>(5)</span> This screen gives you an overview of which accounts Crossfoam has analysed already. You can delete or export analysed data, or click on the username to explore the visualisation.</p>

      <p><img style="max-width:500px;" id="howto--transl-img2" src="../assets/images/story/intro-6-de@2x.png" alt="" /></p>
      <p id="howto--copy7"><span>(6)</span> If you select an account, the next screens visualises the social network of the chosen account. Explore the visualisations and use the help button in the lower left to learn more about each visualisation.</p>

      <div class="table responsive">
        <div class="table-row">
          <div class="table-cell"><img src="../assets/images/story/intro-cluster@2x.png" alt="" /></div>
          <div class="table-cell"><p id="howto--copy8"><span>(7)</span> Crossfoam tries to find bubbles in the analysed networks by comparing the connections within a cluster with those across clusters. Account clusters with many internal, but very few external connections, are identified as bubbles and color-coded for your convenience.</p></div>
        </div>
      </div>

      <div class="table responsive">
        <div class="table-row">
          <div class="table-cell"><img src="../assets/images/story/intro-9@2x.png" alt="" /></div>
          <div class="table-cell"><p id="howto--copy9"><span>(8)</span> An account, which is identified as belonging to a bubble, can be marked as such in the social network interface. This dis/enabled in the settings.</p></div>
        </div>
      </div>

      <p><img style="max-width:500px;" id="howto--transl-img3" src="../assets/images/story/intro-7-de@2x.png" alt="" /></p>
      <p id="howto--copy10"><span>(9)</span> When you want rename the clusters or change their color, select the account in question from the overview and go to the list-view. The icons at the top of each cluster allows you to modify the individual clusters.</p>
      
      <div class="table responsive">
        <div class="table-row">
          <div class="table-cell"><img src="../assets/images/story/intro-8@2x.png" alt="" /></div>
          <div class="table-cell"><p id="howto--copy11"><span>(10)</span> These bubbles can be relabeled with a more descriptive name. You can further choose whether bubble membership is displayed on the social network site.</p></div>
        </div>
      </div>

      <p id="howto--copy12">All of the analysed information will only be accessible via the single device Crossfoam is running on and nothing will ever be shared with Twitter or anyone else for that matter.</p>

    </div>
<%- include("partials/static-footer.ejs", {js:"howto"}) %>