<%- include("partials/static-header.ejs", {title:"Install", css:"install"}) %>
<%- include("partials/nav.ejs", {current: ""}) %>
    <div id="page" class="static install">
      <h1 id="installTitle">Welcome to Crossfoam</h1>
      <h3 id="installSubTitle" class="center">Crossfoam turns filter bubbles into lenses on the public.</h3>

      <p id="installIntro" class="center">Crossfoam is a browser plugin to visualise and utilise your filter bubbles on Twitter.<br /><i>Other social networks will follow soon.</i></p>

      <img id="specialImage1" class="full" src="../assets/images/story/story-01@2x.png" alt="" />
      <h3 id="installSpecialHeadline">We live our lives in bubbles.</h3>

      <div class="table responsive">
        <div class="table-row">
          <div class="table-cell"><img src="../assets/images/story/story-02@2x.png" alt="" /></div>
          <div class="table-cell"><p id="installParagraph1">Our friends, our sources, and our conversations are not randomly selected. Instead we are much more likely to hear information which tilts towards our own opinions, likes and interests.</p></div>
        </div>
      </div>
      
      <div class="table responsive">
        <div class="table-row">
          <div class="table-cell"><p id="installParagraph2">While there are bubbles everywhere, they take on a special character in our electronic lives. Self-selection, curation by algorithms, and economic incentives often shape online communities into echo chambers, where everyone agrees, and everyone repeats the same opinions.</p></div>
          <div class="table-cell"><img src="../assets/images/story/story-03@2x.png" alt="" /></div>
        </div>
      </div>

      <div class="table responsive">
        <div class="table-row">
          <div class="table-cell"><img src="../assets/images/story/story-04@2x.png" alt="" /></div>
          <div class="table-cell"><p id="installParagraph3">Other communities with other backgrounds, other ideas and other opinions exist, but we are actively cut off from them. The result is repetition and sameness on the one hand and misunderstanding on the other.</p></div>
        </div>
      </div>
      
      <hr class="divider spacing" />

      <img id="specialImage2" class="full" src="../assets/images/story/story-05@2x.png" alt="" />
      <p class="middleBlock" id="installParagraph4">Crossfoam analyses and visualises your filter bubbles on social media, so you can discover the extent to which your online community is an echo chamber or a place of diverse opinions.</p>
      <p class="middleBlock" id="selectionOutro">Crossfoam analyses and visualises your filter bubbles on social media, so you can discover the extent to which your online community is an echo chamber or a place of diverse opinions.</p>

      <h3 id="howToTitle">Wie funktioniert Crossfoam</h3>
      <p style="text-align:center; margin-bottom:0;"><img class="full" style="max-width:500px;" src="../assets/images/faq/intro-1@2x.jpg" alt="" /></p>
      <p class="middleBlock" style="text-align: center;"><a href="/html/howto.html" id="installParagraph5">Schnelle Einführung in die Funktionsweise von Crossfoam &raquo;</a></p>

      <div class="table responsive">
        <div class="table-row">
          <div class="table-cell">
            <h3 id="fundingTitle">Funding</h3>
            <p style="text-align: center;">
              <a href="https://prototypefund.de"><img src="../assets/images/prototypefund.jpg" alt="PrototypeFund" style="height:125px; margin:0 10px;"></a>
              <a href="https://www.bmbf.de/de/software-sprint-freie-programmierer-unterstuetzen-3512.html"><img src="../assets/images/bmbf.jpg" alt="Gefördert vom Bundesministerium für Bildung und Forschung" style="height:125px; margin:0 10px;"></a>
            </p>
            <p id="fundingDescription">This project was part of the fifth iteration of the ProtoypeFund. It, thereby, received financial funding through the Software Sprint Program, run by the BMBF.</p>
            <p id="fundingThanks">We thank the whole PrototypeFund team for their support and the ministry for providing us with an opportunity to invest time into a not for profit, open source project for empowering users.</p>
          </div>
        </div>
      </div>

      <hr class="divider" />

    </div>
<%- include("partials/static-footer.ejs", {js:"install"}) %>