<%- include("partials/static-header.ejs", {title:"Legal", css:"legal"}) %>
<%- include("partials/nav.ejs", {current: ""}) %>
    <div id="page" class="static">
      <h1>Crossfoam Update</h1>

      <p id="versionControl" class="center"></p>

      <div id="updateMessage">
        <ul></ul>
      </div>

    </div>
<%- include("partials/static-footer.ejs", {js:"legal"}) %>