<%- include("partials/static-header.ejs", {title:"Legal", css:"legal"}) %>
<%- include("partials/nav.ejs", {current: ""}) %>
    <div id="page" class="static">
      <h1 id="legal--title">Impressum & Datenschutz</h1>

      <h2 id="legal--headline1">Zusammenfassung</h2>
      <p id="legal--copy1">
        Bei der Entwicklung von Crossfoam Standen für uns Datenschutz und Privatsphäre im Vordergrund. Crossfoam selber sammelt und erhebt keine Daten. Nur während des Downloads der Daten von den entsprechenden Social Media Services, wird mit Servern von Dritten interagiert. Hierbei gelten die jeweiligen Datenschutzbestimmungen der entsprechenden Services (siehe unten). Darüber hinaus haben wir versucht, die Einbindung von sogenannten Software-Paketen Dritter möglichst klein zu halten. Um Gefahren auch auf dieser Ebene auszuschließen (List der Pakete siehe unten).
      </p>

      <h2 id="legal--headline2">Kontakt</h2>
      <p id="legal--copy2">
        Sebastian Meier & Daniel Lommes<br />
        info@ultrapop.de
      </p>

      <h2 id="legal--headline3">Free & Open Source Software</h2>
      <p id="legal--copy3">
        Die Software wird im aktuellen Zustand ohne jegliche Gewähr zur Verfügung gestellt, ohne jegliche  ausdrückliche oder stillschweigende Gewährleistung, einschließlich, aber nicht beschränkt auf die Gewährleistung der Handelsfähigkeit, der Eignung für einen bestimmten Zweck und der Nichtverletzung Rechte Dritter. In keinem Fall sind die Autoren oder Urheberrechtsinhaber haftbar für Ansprüche, Schäden oder andere Haftungen, ob in einer Vertragsklage, einer unerlaubten Handlung oder anderweitig, die sich aus, oder in Verbindung mit der Software oder der Nutzung oder anderen Geschäften mit der Software ergeben.
      </p>

      <h2 id="legal--headline4">Softwarepakete</h2>
      <h3><a href="https://d3js.org/">D3</a> + <a href="https://github.com/vijithassar/d3-history">D3-History</a></h3>
      <p id="legal--copy4">Für die Visualisierung und interaktive Elemente der Website wird die Bibliothek D3 genutzt.</p>
      <h3><a href="https://github.com/regl-project/regl">REGL</a></h3>
      <p id="legal--copy5">Um auch große Netzwerke visualisieren zu können, nutzen wir WebGL, um dies zu ermöglichen nutzen wir die Bibliothek REGL.</p>
      <h3><a href="https://github.com/jublo/codebird-js">Codebird (Twitter)</a></h3>
      <p id="legal--copy6">Zum Download der Netzwerkdaten von Twitter, wird die Bibliothek Codebird genutzt.</p>
      <h3>Network - Clusters</h3>
      <p id="legal--copy7">Zur Erkennung von Clustern in Netzwerken, was auch als Community-Erkennung bezeichnet wird, werden drei verschiedene Module genutzt:</p>
      <ul>
        <li><a href="https://github.com/graphology/graphology">graphology</a></li>
        <li><a href="https://github.com/graphology/graphology-communities-louvain">graphology-communities-louvain</a></li>
        <li><a href="https://github.com/jgranstrom/jLouvain#readme">jlouvain</a></li>
      </ul>
      <h3><a href="https://github.com/mozilla/webextension-polyfill">webextension-polyfill</a></h3>
      <p id="legal--copy8">Mozilla hat ein Modul entwickelt, welches es uns erlaubt Crossfoam möglichst einfach für Firefox, Chrome, etc. zu entwickeln.</p>
      <h3><a href="https://github.com/kriskowal/q">Q (Promises)</a></h3>
      <p id="legal--copy9">Damit Crossfoam auch auf älteren Browsern läuft, nutzen wir Q für die nicht vorhandene Promise-Funktionalität.</p>

      <h2 id="legal--headline5">Daten sammeln</h2>
      <p id="legal--copy10">Um die Netzwerkdaten zu sammeln, müssen Server der Social Media Dienstleister kontaktiert werden. Dies passiert nur nach expliziter Interaktion der Nutzer*in. Crossfoam führt diese Kommunikation nicht unaufgeforder auf. Außerdem werden Profilbilder der Accounts direkt von den Social Media Servern geladen. Dies ist auch möglich, ohne dass man bei dem jeweiligen Service eingeloggt ist und einen Account hat. Entsprechend können auch in diesem Fall Daten durch Twitter erhoben werden.</p>
      <h3>Twitter</h3>
      <p id="legal--copy11">Für das Abrufen der Daten von Twitter, gelten Twitters Datenschutzbestimmungen: https://twitter.com/de/privacy</p>
      <p id="legal--copy12">[Auszug aus Twitters Datenschutzbestimmung] Falls Sie in den Vereinigten Staaten von Amerika, oder in einem anderen Land außerhalb der Europäischen Union, der EFTA-Staaten, oder des Vereinigten Königreichs leben, ist der für Ihre personenbezogenen Daten Zuständige für die Verarbeitung Verantwortliche Twitter, Inc. mit folgender Anschrift:</p>
      <p id="legal--copy13">Twitter, Inc.<br />Z. Hdn.: Privacy Policy Inquiry<br />1355 Market Street, Suite 900<br />San Francisco, CA 94103, USA</p>
      <p id="legal--copy14">Falls Sie innerhalb der Europäischen Union, der EFTA-Staaten, oder dem Vereinigten Königreichs leben, ist der für die Verarbeitung Verantwortliche Twitter International Company mit folgender Anschrift:</p>
      <p id="legal--copy15">Twitter International Company<br />Z. Hddn.: Data Protection Officer<br />One Cumberland Place, Fenian Street<br />Dublin 2, D02 AX07 IRLAND</p>

      <h2 id="legal--headline6">Haftung für Inhalte</h2>
      <p id="legal--copy16">Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte in dieser Erweiterung nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p>

      <p id="legal--copy17">Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>

      <h2 id="legal--headline7">Haftung für Links</h2>
      <p id="legal--copy18">Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p>

      <p id="legal--copy19">Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>

      <h2 id="legal--headline8">Urheberrecht</h2>
      <p id="legal--copy20">Der zugrundeliegende Code ist unter der offenen MIT-Linzenz verfügbar. Die Gestaltung der Anwenung, inklusive jeglicher Grafiken und Texte unterliegen dem deutschen Urherberrecht.</p>
    </div>
<%- include("partials/static-footer.ejs", {js:"legal"}) %>