<%- include("partials/static-header.ejs", {title:"Install", css:"install"}) %>
<%- include("partials/nav.ejs", {current: ""}) %>
    <div id="page" class="static install">
      <h1 id="installTitle">Welcome to Crossfoam</h1>
      <p id="preInstallIntro" class="center"></p>
    </div>
<%- include("partials/static-footer.ejs", {js:"preInstall"}) %>