<%- include("partials/static-header.ejs", {title:"Analyse", css:"vis"}) %>
<%- include("partials/nav.ejs", {current: "vis"}) %>

    <div id="page"></div>

    <div id="version"></div>

<%- include("partials/static-footer.ejs", {js:"vis"}) %>