@import 'mixins';
@import 'modal';

.cf--clusterLabel{
  font-size:10px;
  border-radius:3px;
  padding: 1px 2px;
  margin: 0 2px;
  color:#ffffff;
  font-family: Helvetica, Arial, sans-serif;
  align-self:flex-start;
  &.cf--noText{
    line-height: 0;
    display:inline-block;
    font-size:0;
    height:8px;
    width:6px;
    border-radius: 10px;
  }
}

// #react-root *{
//   font-family: "BLOKK Neue" !important;
// }

// #react-root a,
// #react-root a *{
//   font-family:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif !important;
// }