#helpContainer {
  z-index: 5;
  width: 275px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  background-color:white;
  border-top-right-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

  p{
    margin-top:0;
    font-size: 14px;
  }
}

.helpButton{
  float:left;
  margin-right:5px;
  min-height:38px;
  color:white;
  border-radius:5px;
  background-color: #338498;
  padding:8px 10px;
  display:table;
  &>span{
    display: table-row;
    span{
      display: table-cell;
      vertical-align: middle;
    }
  }
  .icon{
    padding:2px 5px 0 0;
  }
  &:hover{
    cursor: pointer;
    background-color:#004D61;
  }
  &:last-child{
    margin-right:0;
  }
}