@import 'mixins';
@import 'fonts';
@import 'basics';
@import 'navbar';
@import 'modal';
@import 'static';

img.full{
  width:100%;
  height:auto;
}

.center{
  text-align: center;
}

@media (min-width: 768px) {

  .table{
    display: table;
  }

  .table-row{
    display: table-row;
  }
  .table-cell{
    width:50%;
    display: table-cell;
    vertical-align: middle;
  }
}

.table img{
  max-width:100%;
  height:auto;
}

.table p{
  padding:0 25px;
}

.table{
  margin-bottom:40px;
}

#page p span{
  font-weight:bold;
  font-size:24px;
}

#static-footer #version{
  z-index: auto;
  position: inherit;
  bottom:auto;
  right:auto;
  font-size:12px;
  padding:15px 0 0 0;
  color:rgba(0,0,0,0.5);
  text-align: center;
}
