@import 'mixins';
@import 'fonts';
@import 'basics';
@import 'navbar';
@import 'modal';
@import 'static';

#page.static.install{
  max-width:960px;
  font-size:18px;
}

h2{
  text-align: center;
  font-size:1.5em;
}

p{
  font-weight:300;
  line-height:1.4em;
}

img.full{
  width:100%;
  height:auto;
}

.center{
  text-align: center;
}

#installIntro{
  max-width:500px;
  margin:0 auto;
}

#installSpecialHeadline{
  text-align:center;
  margin: -100px 0 100px 0;
}

#specialImage1{
  margin-top:50px;
}

#specialImage2{
  margin-bottom:20px;
}

.middleBlock{
  max-width:550px;
  padding:25px;
  margin: 0 auto 50px auto;
}

@media (min-width: 768px) {

  .table{
    display: table;
  }

  .table-row{
    display: table-row;
  }
  .table-cell{
    width:50%;
    display: table-cell;
    vertical-align: middle;
  }
}

.table img{
  max-width:100%;
  height:auto;
}

.table p{
  padding:0 25px;
}

#fundingTitle, #howToTitle{
  text-align:center;
  padding-top:50px;
}

#static-footer #version{
  z-index: auto;
  position: inherit;
  bottom:auto;
  right:auto;
  font-size:12px;
  padding:15px 0 0 0;
  color:rgba(0,0,0,0.5);
  text-align: center;
}
