@import 'mixins';
@import 'fonts';
@import 'basics';
@import 'navbar';
@import 'static';

#static-footer #version{
  z-index: auto;
  position: inherit;
  bottom:auto;
  right:auto;
  font-size:12px;
  padding:15px 0 0 0;
  color:rgba(0,0,0,0.5);
  text-align: center;
}

#page.static ul li{
  font-size:12px;
}