#page.static{
  max-width: 500px;
  margin: 0 auto;
  padding-top: 50px;

  h1, p.center{
    text-align: center;
  }

  li{
    padding-bottom:10px;
    font-size:14px;
  }

  a{
    color:#338498;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color: #004D61;
    }
  }
}

.github-badge{
  margin-top: 40px;
  display:table;
  margin:0 auto;
  max-width:500px;
  &>span{
    display:table-row;
    &>span{
      display:table-cell;
      vertical-align: middle;
    }
  }
  img{
    height: 32px;
    width: auto;
    margin-right:15px;
    opacity:0.5;
  }
  text-decoration: none;
  font-weight:bold;
  font-size:14px;
  color: rgba(0,0,0,0.5);
  &:hover{
    img{
      opacity: 1;
    }
    color:rgba(0,0,0,1);
  }
}

hr.divider{
  margin:0;
  padding:0;
  clear:both;
  height:1px;
  visibility: hidden;
  &.spacing{
    margin-bottom:30px;
  }
}

#footer{
  padding: 50px 0 100px 0;
}

.switch-container{
  margin-bottom:10px;
}

/* source: https://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #338498;
}

input:focus + .slider {
  box-shadow: 0 0 1px #338498;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}